<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="6.1.0.326" targetFramework="net461" />
  <package id="MahApps.Extra" version="1.0.1.0" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="NLog" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.10" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.10" targetFramework="net461" />
</packages>